.suggestions {
	border: 1px solid #999;
	list-style: none;
	margin-top: 0;
	padding-left: 0;

	> li {
		padding: .5rem;

		&.suggestion-active,
		&:hover {
			background-color: #FFE0B2;
			cursor: pointer;
		}
	}
}